body {
  background-color: #F4F4F4;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0px;
  margin: 0px;

}
.home{
  background-color:#0C2B4E;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.pag {
  margin: 4px;
  padding: 10px;
  text-decoration: none;
  color: #F4F4F4;
  font-size: 17px;
  text-align: center;
}

.pag:hover {
  margin: 3px;
  font-weight: bold;
  background-color: #e7e5dc2a;
  border-bottom: solid 3px #F4F4F4;
  padding-bottom:1px;

}
h1{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;  
}

table{
  margin-left: 18px ;
  border-radius: 15px;
  background-color: #0C2B4E ;
  overflow: hidden; 
  padding: 10px;
  text-align: center;
}

th{
  border: none;
  padding: 10px;
  background-color: #0C2B4E;
  color:#F4F4F4 ;
  
}
td{
  background-color: #fff;
  border: none;  
  padding: 10px;
}
.baixo-esquerda{
  border-bottom-left-radius: 15px;
}
.baixo-direita{
  border-bottom-right-radius: 15px;
}
.img-tabela{
  width: 130px;
}

.botao{
    text-decoration: none;
    margin:20px ;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    padding: 9px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    background-color: #0C2B4E ;
    border: 1px solid #051527;
    font-weight: bold;
    cursor: pointer;
}
.botao:hover{
  background-color: #0c2b4ee7;
}
/*cadastro de alunos a partir daqui*/
form{
    margin-left: 8px;
}
.nome,.data,.numero,.img,.serie,.login{
        margin-top: 10px;
}
.login{
    margin-top: 10px;
    margin-bottom: 10px;
    
    .in-login{ /*input login*/
        margin-left: 4px;
    }
}
select{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.botao1{
    margin-top:20px ;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 3px;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    background-color: #0C2B4E ;
    border: 1px solid #051527;
    font-weight: bold;
    cursor: pointer;
}
.botao1:hover{
  background-color: #0c2b4ee7;
}