body{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    background-color:#f4f4f4;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center;     
}


.form{
    padding-bottom: 30px;
    border: 2px solid #051527;
    border-radius: 15px;
    width: 450px;
    height: 290px;
    background-color: #0C2B4E;
    color: #fff;
    text-align: center; 
    justify-content: center; 
 
}
button{
    margin-top:20px ;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 3px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #051527;
    font-weight: bold;
    cursor: pointer;

}
.email{
    margin-right: 4px;
}
