body {
  background-color: #F4F4F4;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0px;
  margin: 0px;

}
.home{
  background-color:#0C2B4E;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.pag {
  margin: 4px;
  padding: 10px;
  text-decoration: none;
  color: #F4F4F4;
  font-size: 17px;
  text-align: center;
}

.pag:hover {
  margin: 3px;
  font-weight: bold;
  background-color: #e7e5dc2a;
  border-bottom: solid 3px #F4F4F4;
  padding-bottom:1px;

}
h1{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.pagina{
    margin-left: 8px;
}
select{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.botao{
    margin-top:20px ;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 3px;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    background-color: #0C2B4E ;
    border: 1px solid #051527;
    font-weight: bold;
    cursor: pointer;
}
.botao:hover{
  background-color: #0c2b4ee7;
}
.vaga,.anexo,.email{
    margin-top: 10px;
}
.telefone{
    margin-top: 10px;
    margin-bottom: 10px;
}
textarea{
    width:200px;
    height: 50px;
}
